body{
	background-image: linear-gradient(to right,darkblue,blue,lightblue);
	font: 100%/125% “Times New Roman”, sans-serif; 
	margin-right: 10%;
	margin-left: 5%;
	padding: 0px;
}
body #img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
table{
	border-radius: 10px;
}
#left table td{
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
}
#left {
	background-image: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
	float: left;
	width: 30%;
}
#right table{
	background-image: linear-gradient(to left,gold,goldenrod,lightgoldenrodyellow);
}
#right table td{
	padding-left: 10px;
	padding-right: 10px;
}
#right {
	float: right;
	width: 60%;
}
#p1 {
	font-size: 20px;
	font-weight: bold;
}
